*{
    font-family: Arial;  
}
h1{
color: green;
margin: auto;
margin: 20px 30px 10px 250px;
}    
table,th,td{
text-align: center;
border-color: red;
border: 2px solid red;
margin: 20px 30px 10px 200px;
padding: 20px;
}
tr:hover{
background-color: aqua;
}